---
layout: blog
permalink: /posts/categories
---

<h2>Categories</h2>

<ul class="list-group">
  {% for category in site.categories %}
  {% capture name %}{{ category | first }}{% endcapture %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <a name="{{ name | slugize }}" href="{{ category.path }}#{{ name | slugize }}">
        <h4><span class="badge text-bg-secondary">{{ name }}</span></h4>
      </a>
      {% for post in site.categories[name] %}
      <ul>
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      </ul>
      {% endfor %}
    </div>
    <span class="badge bg-primary rounded-pill">
        {% assign count = site.categories[name] | size %}
        {{ count }} post{% if count != 1 %}s{% endif %}
    </span>
  </li>
  {% endfor %}
</ul>
