<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      <span class="fs-3">{{ site.title | escape }}</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/hosting">Hosting</a></li>
            <li><a class="dropdown-item" href="mailto:{{ site.email }}">Consulting</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 d-none d-sm-block" href="https://status.{{ site.domain }}/" target="_blank">Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 d-none d-sm-block" href="/posts/">Blog</a>
        </li>

      </ul>
    </div>

    {%- include social.html -%}
  </div>
</nav>
