body {
  font-family: "Open Sans";
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

h1 {
  text-shadow: #fff 0 0 2rem;
}

.navbar-brand, .cursive {
  font-family: "Permanent Marker", cursive;
}

.svg-icon {
  width: 16px;
  height: 16px;
  transform: scale(1.5);
  display: inline-block;
  fill: #333;
  margin-right: 5px;
  vertical-align: text-top;
}

[data-bs-theme="dark"] .svg-icon {
  filter: invert(1) brightness(2);
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.bg-banner {
  padding: 1rem 0;
}
